<h1>Editing Profile</h1>
<br />

<%= render 'form', profile: @profile %>

<div class="links">
    <%= link_to 'Show', @profile, class: "link_btn" %>
    <%= link_to 'Home', root_path, class: "link_btn" %>
</div>
