<div class="card bg-light mb-3 text-center" style="width:300px">
    
  <div class="card">
    <% if @profile.image.present? %>
      <%= image_tag @profile.image_url(:medium) %>
    <% else %>
      <%= image_tag "noimage.jpeg" %>
    <% end%>
    <div class="person_info">
      <h4><b><%= @profile.full_name %></b></h4> 
      <p><%= @profile.city %></p> 
    </div>
  </div>  <!-- end of card -->


</div>