<section id="section-b" class="grid">
    <ul>
        <% @tasks.each do |task| %>
            <li>
                <div class="card_home">
                    <div class="card_img">
                        <%= link_to(task) do %>
                            <%= image_tag task.image_url(:original) %>
                        <% end %>
                    </div>

                    <div class="card_info">
                        <h3><%= task.title %></h3>
                        <h3 class="h3-red"><%= number_to_currency(task.price_in_dollars) %></h3>
                    </div>
                </div>
            </li>
        <% end %>        
    </ul>
</section>