<h1>Editing Task</h1>
<br />

<%= render 'form', task: @task %>

<div class="links">
    <%= link_to 'Show', @task, class: "link_btn" %>
    <%= link_to 'Back', tasks_path, class: "link_btn" %>
</div>
