<h1>Contact PickItUp</h1>

<form id="contactform" class="topBefore">
    <input id="name" type="text" placeholder="NAME">
    <input id="email" type="text" placeholder="E-MAIL">
    <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
  <input id="submit" type="submit" value="SEND">
  
</form>