<h1>You have received a new message</h1>

<p>
    <strong>From: </strong> 
    <%= @email1 %>
</p>

<p>
    <strong>Name: </strong> 
    <%= @name %>
</p>

<p>
    <strong>Message: </strong> 
    <%= @message %>
</p>