* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  background: #fff;
  width: 100%;
  margin: 80px auto 20px;
  line-height: 25px;
  text-align: center;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

h1.home {
  margin-top: 20px;
}

h2.nodata {
  margin-top: 30px;
  text-align: center;
  color: #235b62;
}

.profile {
  line-height: 35px;
}

.action_btn {
  min-width: 120px;
  height: 35px;
  color: #f8f8f8;
  border-radius: 7px;
  background: #235b62;
  font-size: 15px;
  padding: 0.5em;
  margin-right: 0.5em;
}

.action_btn:hover {
  background-color: #d7f7fb;
  color: #235b62;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px;
  border-collapse: separate;
}

th {
  text-align: center;
  height: 40px;
}

table.center a {
  color: #000;
}

table.center a:hover {
  color: #235b62;
}

/* menu base styles */
nav {
  background: #f8f8f8;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.left_menu {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

li a {
  text-decoration: none;
  text-align: center;
  color: #235b62;
  display: block;
  padding: 7px;
}

li a:hover {
  background-color: #548f96;
  color: #f8f8f8;
}

.intro-image {
  width: 100%;
  height: auto;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.menu-icon-wrapper {
  cursor: pointer;
  display: flex;
  flex: auto;
  justify-content: flex-end;
}

.logo-icon {
  padding: 5px;
}

.menu-icon {
  padding: 5px;
  width: 50px;
  height: 50px;
}

.logo a {
  text-indent: -10000px;
  margin: 0 auto;
}

.logo {
  max-width: 80px;
}

/* flex styles */
nav ul.logo li {
  flex: 1 1 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul.mobile-menu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

ul.menu {
  display: none;
}

nav div.header {
  display: flex;
}

#menu-toggle {
  display: none;
}

/* Menu icon for mobile view */
#menu-toggle:checked + #menu {
  max-height: 200px;
}

ul li a {
  margin: 5px 0;
  border-right: solid 1px grey;
}

ul li:last-child a {
  border: none;
}

/* SignUp, Login form */

/* Card Avatar */
.card {
  display: inline-block;
  border: 1px solid #235b62;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 7px 7px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card_info {
  padding: 5px 5px;
  color: #235b62;
  font-size: 15px;
  text-align: center;
}

/* Card Home */
.card_home {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 #235b62;
  transition: 0.3s;
  border-radius: 5px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card_home img {
  border-radius: 7px 0 7px 0;
  max-width: 100%;
  height: auto;
}

.thumbimage {
  width: 80px;
  height: 80px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 7px;
  flex-wrap: wrap;
}

/* .column {
  float: right;
  width: 50%;
} */

.search {
  background-color: #c4cace;
  border: 1px solid #235b62;
  /* margin-left: 2em; */
  padding: 0.3em 1em;
  max-width: 100%;
  height: auto;
}

.search_btn {
  background-color: #f8f8f8;
  border: 1px solid #235b62;
  width: 80px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 5px;
}

.search_btn:hover {
  background-color: #235b62;
  color: #f8f8f8;
}

.info_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 25px;
}

.info_column:last-child {
  margin-left: 70px;
}

.geocoder {
  margin-left: 30px;
}

.links {
  margin-top: 15px;
  text-align: center;
}

.link_btn {
  background-color: #fff;
  color: #805739;
  border: 1px solid #805739;
  border-radius: 7px;
  padding: 0.4em 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.link_btn:hover {
  background-color: #d2c8c1;
  color: #000;
}

.footer {
  padding: 1rem 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #235b62;
  color: #c1fbff;
  text-align: center;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .menu-icon-wrapper {
    display: none;
  }

  nav ul.mobile-menu {
    display: none;
  }

  ul.menu {
    display: flex;
    flex: auto;
    /* align-items: center; */
    justify-content: flex-end;
    /* color: #235B62; */
  }

  .home {
    margin-bottom: 0.5em;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  .section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 32%;
  }

  #section-b .card_home {
    max-width: 100%;
  }

  #section-b .card_home .card_img {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 220px;
  }

  .card_img img {
    width: 100%;
    height: 180px;
  }
} /* end media 768 */

/********** contact section **********/
.contact-container {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 32px;
}

/* contact form box */
.box {
  width: 80%;
  padding: 30px;
  background: #235b62;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-family: "Raleway";
}
@media (min-width: 991px) {
  .box {
    width: 45%;
  }
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box .inputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.box .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  order: 2;
}
.box .inputBox label {
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  order: 1;
}
.box .inputBox textarea {
  background-color: #313037;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 10em;
  padding-top: 5px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  resize: none;
  order: 2;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox textarea:focus ~ label,
.box .inputBox textarea:valid ~ label {
  top: -18px;
  left: 0;
  color: white;
  font-size: 12px;
}
.box input[type="submit"] {
  border: none;
  color: #d7f7fb;
  background: #235b62;
  cursor: pointer;
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.box input[type="submit"]:hover {
  background-color: #d7f7fb;
  color: #235b62;
}

/* Home 3 task images */
#section-b {
  padding-bottom: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 20px;
  padding: 10px;
}

#section-b li {
  margin-bottom: 1rem;
}

#section-b li a {
  border: none;
}

#section-b li a:hover {
  background-color: #d3d3d3;
}

h3.h3-red {
  color: red;
}

/* Form  */
.form-wrapper {
  background-color: #c4cace;
  list-style-type: none;
  margin: 10px;
  padding: 10px 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  box-sizing: border-box;
}
.form-devise-row > label {
  padding: 0.5em 0;
  text-align: left;
}
.form-row > label {
  padding: 0.5em 0;
  flex: 1;
  text-align: left;
}
.form-row > input,
.form-row > select,
.form-row > textarea {
  flex: 2;
  padding: 0.5em;
}
.form-row > textarea {
  min-height: 9em;
}
.form-action {
  text-align: right;
  padding-bottom: 10px;
}

@media (min-width: 991px) {
  .form-wrapper {
    margin: 0 250px;
  }
}
