* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ffffff;
    color: #333;
  }
  
  .wrapper {
    width: 100%;
    margin: 80px auto;
  }
  
  /* menu base styles */
  nav {
    background: #F8F8F8;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
  }
  
  li a {
    text-decoration: none;
    text-align: center;
    color: #235B62;
    display: block;
    padding: 7px;
  }
  
  li a:hover {
    background-color: #616C75;
  }
  
  .container {
    padding: 10px;
  }
  
  #footer {
    background-color: #66503D;
    color: #EFEEEC;
    text-align: center;
  }
  
  ul.footer-menu {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  
  .menu-icon-wrapper {
    cursor: pointer;
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }
  
  .logo-icon {
    padding: 5px;
  }
  
  .menu-icon {
    padding: 5px;
    width: 35px;
    height: 35px;
  }
  
  .logo {
    max-width: 100px;
  }
  
  #blocks {
    margin: 20px;
  }
  
  article {
    background: #EFEEEC;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #D1CECA;
  }
  
  article h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 10px;
  }
  
  article h1 {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 45px;
    margin: 5px;
    color: #2C3B48;
  }
  
  /* flex styles */
  nav ul.logo li {
    flex: 1 1 0;
  }
  
  nav ul.social {
    flex: 1 1 0;
    display: flex;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  nav ul.mobile-menu {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  ul.menu {
    display: none;
  }

  ul.left_menu {
    margin-left: 15px;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-start;
  }

  nav div.header {
    display: flex;
  }
  
  
  #menu-toggle {
    display: none;
  }
  /* Menu icon for mobile view */
  #menu-toggle:checked + #menu {
    max-height: 200px;
  }
  
  p.skills-box {
    text-align: center;
  }
  
  img.skills-image {
    width: 70%;
    height: auto;
  }
  
  p.intro-box {
    margin-top: 10px;
    text-align: center;
  }
  
  img.intro-image {
    width: 100%;
    height: auto;
  }
  
  ul li a {
    margin: 5px 0;
    border-right: solid 1px grey;
  }
  
  ul li:last-child a {
    border: none;
  }
  
  .contact-icons {
    text-align: center;
  }
  
  .contact-icons a {
    text-decoration: none;
  }
  
  .contact-icon {
    height: 35px;
  }
  
  /* Media Query */
  @media screen and (min-width: 768px) {
    .menu-icon-wrapper {
      display: none;
    }
  
    nav ul.mobile-menu {
      display: none;
    }
  
    ul.menu {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: flex-end;
      color: #235B62;
    }

    .intro-image {
      display: flex;
      flex: auto;
      justify-content: center;
    }
  
    ul.social {
      margin: 0;
    }
  } /* end media 768 */
  
  
  /* Contact form  */
  form {
    margin: 0 auto;
    padding: 16px;
    text-align: center;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 3px;
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: #4b4b4b;
    width: 80vw;
    max-width: 600px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #D1CECA;
    border-radius: 4px;
  }
  
  input {
    line-height: normal;
  }
  
  button {
    background: #2C3B48;
    width: 80vw;
    max-width: 600px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: #EBE8E0;
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    transition: .2s;
    cursor: pointer;
  }
  
  /* end of Contact form  */
